# only batch contents here
# one operation per line

/socket-binding-group=standard-sockets/socket-binding=http:write-attribute(name=port,value=8080)
/socket-binding-group=standard-sockets/socket-binding=management-http:write-attribute(name=port,value=9990)