# Managed by Ansible

export JAVA_HOME="{{ jboss.java_home }}"
export JBOSS_HOME="{{ jboss.install_home }}"
export JBOSS_BASE_DIR="{{ jboss.instance_home }}"

export JAVA_OPTS="${JAVA_OPTS:-} -Xms{{ jboss.java_opts.heap_min }} -Xmx{{ jboss.java_opts.heap_max }} -XX:MaxMetaspaceSize={{ jboss.java_opts.metaspace_max }} {{ jboss.java_opts.extra }} -Djboss.server.base.dir={{ jboss.instance_home }} -Djboss.bind.address={{ jboss.standalone.bind_address }} -Djboss.bind.address.management={{ jboss.standalone.management_bind_address }}"
